body{
  background-color: #F0F0F7;
  min-height: 100vh;
}
nav.uk-navbar-container.uk-navbar{
  background-color:#000;
  font-size:20px;
  padding:0 40px 0 40px;
}

a.uk-navbar-item.uk-logo{
  font-family: 'Source Sans Pro';
  font-weight:700;
  color:#fff!important;
}
.uk-navbar-nav>li>a{
  color:#fff!important;
  font-size: 15px!important;
  font-family: 'Source Sans Pro'!important;
  font-weight:400!important;
}
form.uk-search.uk-search-default{
  margin : 2em;
  font-size: 10px;
  color:#fff;
}
div.uk-grid-medium{
  text-align: left;
  padding-top: 150px;
  width:400px;
  margin: auto;
  padding-right: 20px;
}
h2{
  color:#3F3F3F !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 900!important;
}
#genotitle{
   color:#583490 !important;
   font-family: 'Source Sans Pro' !important;
   font-size: 1em;
   font-style: normal;
}
p{
  color:#595959;
  font-family: 'Source Sans Pro';
  font-style: italic;
  margin:0 !important;
}
a:hover{
  text-decoration: none !important;
}

div.uk-child-width-expand.uk-grid{
  margin: 20px;
}
.uk-card.uk-card-default.uk-card-body{
  margin:10px;
}
#backbtn{
  background-color: #666666;
  font-family: 'Source Sans Pro' !important;
  color: white;
}
#decryptbtn{
  background-color: #583490;
  font-family: 'Source Sans Pro' !important;
  color: white;
}
.uk-button-default{
  margin-bottom: 20px !important;
}
#formButtons{
  margin-top:10px;
}
