body{
  background-color: #F0F0F7;
  min-height: 100vh;
}
nav.uk-navbar-container.uk-navbar{
  background-color:#303030;
  font-size:20px;
  padding:0 40px 0 40px;
}

a.uk-navbar-item.uk-logo{
  font-family: 'Source Sans Pro';
  font-weight:700;
  color:#fff!important;
}
.uk-navbar-nav>li>a{
  color:#fff!important;
  font-size: 15px!important;
  font-family: 'Source Sans Pro'!important;
  font-weight:400!important;
}
.uk-navbar-dropdown-nav>li>a{
  color:#000!important;
}
form.uk-search.uk-search-default{
  font-size: 10px;
  color:#fff;
}
div.uk-grid-medium{
  text-align: left;
  padding-top: 30px;
  width:800px;
  margin: auto;
  padding-right: 20px;
}
.grey-background{
  background-color:#303030;
}
#genome{
  max-width:200px;
}
#genocontent{
  max-width:500px; /* Customise it accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
  margin:0 auto;
}
.uk-table td{
  border-top: 0px;
  padding: 1em 1.5em;
  max-width:200px; /* Customise it accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
}
h2{
  color:#3F3F3F !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 900!important;
}
#genotitle{
   color:#583490 !important;
   font-family: 'Source Sans Pro' !important;
   font-size: 1em;
   font-style: normal;
}
p#geno_p{
  max-width:200px; /* Customise it accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
}
p{
  color:#595959;
  font-family: 'Source Sans Pro';
  font-style: italic;
  margin:0 !important;
}
a:hover{
  text-decoration: none !important;
}

div.uk-child-width-expand.uk-grid{
  margin: 20px;
}
.uk-card.uk-card-default.uk-card-body{
  margin:10px;
}
#backbtn{
  background-color: #303030;
  font-family: 'Source Sans Pro' !important;
  color: white;
}
#decryptbtn{
  background-color: #583490;
  font-family: 'Source Sans Pro' !important;
  color: white;
}
.uk-button-default{
  margin-bottom: 20px !important;
}
#formButtons{
  margin-top:10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: white;
  text-align: center;
}
.footer-btn.uk-button.uk-button-default{
  border: 1px solid #48a9e1;
  border-radius:40px;
  margin-top:10px;
  margin-right:20px;
  color:#fff;
  background-color:transparent;
}
.footer-btn.uk-button.uk-button-default:active{
  background-color:#48a9e1;
}
#light-h2{
  color:#fff!important;
}
#tx_link{
  color:#303030;
}
#modal-footer{
  width:50%;
  margin:0 auto;
  padding:20px;
}
.modal-footer-left{
  border-right: 1px solid #fff;
}
#send_data{
  margin:30px auto;
}
#send_data:active{
  background-color:#48a9e1;
  color:#fff;
}
.txt-center{
  text-align:center;
}
@media (max-width: 1200px){
  div.uk-grid-medium{
    width:100%;
  }
}
@media (max-width:900px){
  .modal-footer-left{
    border-right: none;
  }
}
@media (max-width:400px){
  .uk-table td {
    border-top: 0px;
    padding: 1em 1.5em;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}