body{
  background-color: #F0F0F7;
  height : 100vh;
}
nav.uk-navbar-container.uk-navbar{
  background-color:#303030;
  font-size:20px;
  padding:0 40px 0 40px;
}

a.uk-navbar-item.uk-logo{
  font-family: 'Source Sans Pro';
  font-weight:700;
  color:#fff!important;
}
.uk-navbar-nav>li>a{
  color:#fff!important;
  font-size: 15px!important;
  font-family: 'Source Sans Pro'!important;
  font-weight:400!important;
}
.uk-navbar-dropdown-nav>li>a{
  color:#000!important;
}
div.uk-grid-medium{
  text-align: left;
  padding-top: 150px;
  width:40%;
  margin: 0 auto;
  
}
.grey-background{
  background-color:#303030;
}
.welcome{
  color:#fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
  font-size: 60px;
}
.main-subtitle{
  color:#fff;
}
.main-button{
  background: rgb(141,239,206);
  background: linear-gradient(90deg, rgba(141,239,206,1) 0%, rgba(56,99,169,1) 100%);
  border-radius:40px!important;
}
form.uk-search.uk-search-default{
  font-size: 10px;
}
p{
  color:#626262;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}
a.uk-button.uk-button-default.uk-width-1-1.uk-margin-small-bottom{
	color:white;
  background-color: #626262;
	font-family: 'Source Sans Pro';
  font-weight: 700;
}
.table > tbody > tr > td{
  border-top: 0px;
  padding: 1em 1.5em;
  max-width:200px; /* Customise it accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
}
label.uk-form-label{
  color: #626262;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 700;
}
div.js-upload.uk-placeholder.uk-text-center{
  color: #626262;
}
span.uk-link{
  color : #BBB;
}
input#form-horizontal-text.uk-input{
  color:#BBB;
  background-color: transparent;
  border : 1px solid white;
  border-radius: 6px;
}
#whitebutton{
  background-color: white;
  color : black;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  border:0;
  margin-top: 1em;
}
.uk-button.uk-button-default#create_keys{
  background-color: #3B86FF;
  color : #fff;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  border:0;
  margin-top: 1em;
}
.uk-button.uk-button-default#create_keys:disabled{
  background-color: white;
  color : #BBB;
  font-family: 'Source Sans Pro';
  font-weight: 500;
  border: 1px solid #BBB;
  margin-top: 1em;
}
#verify_keys{
  background-color: white;
  color : black;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  border:0;
  margin-top: 1em;
}
img{
  margin-bottom: 1em;
}
h2.uk-modal-title{
  color : #000;
  font-family: 'Source Sans Pro';
  font-weight: 900;
}
#greytxt{
  color: #595959;
  font-family: 'Source Sans Pro';
}
#alert{
  color:red !important;
}
#upload_link{
  color: #48a9e1;
}
.uk-placeholder{
  border:1px dashed #626262!important;
}

@media (max-width: 600px){
  .welcome{
    font-size: 40px!important;
  }
  div.uk-grid-medium{
    width:100%!important;
    padding-left:10px;
    padding-right:10px;
  }
  
}
@media (max-width: 1200px){
  div.uk-grid-medium{
    width:70%!important;
    padding-left:10px;
    padding-right:10px;
  }
}
