body{
  background-color: #F0F0F7;
  height : 100vh;
}
nav.uk-navbar-container.uk-navbar{
  background-color:#000;
  font-size:20px;
  padding:0 40px 0 40px;
}

a.uk-navbar-item.uk-logo{
  font-family: 'Source Sans Pro';
  font-weight:700;
  color:#fff!important;
}
.uk-navbar-nav>li>a{
  color:#fff!important;
  font-size: 15px!important;
  font-family: 'Source Sans Pro'!important;
  font-weight:400!important;
}
div.uk-grid-medium{
  text-align: left;
  padding-top: 150px;
  width:40%;
  margin: auto;
}
.welcome{
  color:#000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:900;
  font-size: 60px;
}
form.uk-search.uk-search-default{
  margin : 2em;
  font-size: 10px;
  color:#fff;
}
p{
  color:#626262;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}
a.uk-button.uk-button-default.uk-width-1-1.uk-margin-small-bottom{
	color:white;
  background-color: #626262;
	font-family: 'Source Sans Pro';
  font-weight: 700;
}
label.uk-form-label{
  color: white;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 400;
}
div.js-upload.uk-placeholder.uk-text-center{
  color: white;
}
span.uk-link{
  color : #BBB;
}
input#form-horizontal-text.uk-input{
  color:#BBB;
  background-color: transparent;
  border : 1px solid white;
  border-radius: 6px;
}
#whitebutton{
  background-color: white;
  color : black;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  border:0;
  margin-top: 1em;
}
img{
  margin-bottom: 1em;
}
h2.uk-modal-title{
  color : #583490;
  font-family: 'Source Sans Pro';
  font-weight: 900;
}
#greytxt{
  color: #595959;
  font-family: 'Source Sans Pro';
}
#alert{
  color:red !important;
}
