<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sequentia Wallet</title>
  <link rel="stylesheet" type="text/css" href="css/genometrics.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
</head>
<body>
  <!-- Main menu -->
  <nav class="uk-navbar-container" uk-navbar="boundary-align: true; align: right;">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li><a class="uk-navbar-item uk-logo" href="index.html"> SequentiaWallet </a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" uk-navbar-toggle-icon href=""></a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li id="menu_item"><a href="https://genobank.herokuapp.com/">Go to Navigator</a></li>
              <li id="menu_item">
                <form class="uk-search uk-search-default">
                  <span class="uk-search-icon-flip" uk-search-icon></span>
                  <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
              </li>
              <li id="menu_item"><a href="#">Contact</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Closing Main menu -->

  <!-- Aside pub and private keys -->
  <aside style="display:none;">
    <textarea id="pub_key"></textarea>
    <textarea id="priv_key"></textarea>
  </aside>

  <!-- Aside pub and private keys -->

<div class="uk-child-width-expand@s" uk-grid>
  <div class="uk-grid-item-match">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="uk-inline" style="width: 100%">
        <button id="decrypt" class="uk-button uk-button-default" style="font-weight: 700;background-color: white">Decrypt</button>
        <!-- Transfer Data button calling modal-->
        <button id="transferaction" name="transferaction" class="uk-button uk-button-default" uk-toggle="target: #modal-transact" style="font-weight: 700;background-color: #4AD991; color:#fff;" disabled>Transfer Data</button>
        <a id="backbtn" class="uk-button uk-button-default"  href="genometrics.html">Back</a>
        <!-- This is Transfer Data Modal-->
        <div id="modal-transact" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Transfer your genomic Data</h2>
                  <div id="video"></div>
                  <div class="uk-margin">
                    <div id="uploaded_list"></div>
                    <div id="alert"></div>
                    <label class="uk-form-label" for="form-stacked-text">To: </label>
                    <div class="uk-form-controls">
                      <textarea id="newpubkey" name="newpubkey" class="uk-input" type="text" placeholder="Paste Public key" onchange="validate_transfer()" required></textarea>
                      <div id="qr-box">
                        <p id="message">Or scan Qr Code with your WebCam</p>
                        <div id="loadingMessage">Unable to access video stream (please make sure you have a webcam enabled)</div>
                        <canvas id="canvas" hidden></canvas>
                        <div id="output" hidden>
                          <div id="outputMessage">No QR code detected.</div>
                          <div hidden><b>Found it!</b> <span id="outputData"></span></div>
                        </div>
                      </div>
                        <div class="js-upload uk-placeholder uk-text-center">
                          <span uk-icon="icon: cloud-upload"></span>
                          <span class="uk-text-middle">Attach your PUBLIC Key by dropping it here or</span>
                          <div uk-form-custom>
                            <input id="pubkey_file" type="file">
                            <span id="upload_link" class="uk-link">Select your PUBLIC Key from computer</span>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-text-area">Memo: </label>
                    <textarea id="memo" name="memo" class="uk-textarea" rows="5" placeholder=""></textarea>
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-pin">Pin: </label>
                    <div id="form-pin" class="uk-inline">
                      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                      <input class="uk-input" type="password" maxlength="4" pattern="[0-9]*" name="pin" id="pin" required>
                    </div>
                  </div>
                  <div id="transfer_button">
                    <button id="transferdata"  class="uk-button uk-button-default" style="font-weight: 700;background-color: #fff; color:#3C3C3C;" disabled> Transfer </button>
                  </div>
                
            </div>
        </div>
      </div>
      <h3>Raw dataset</h3>
      <div style="width:100%">
        <div id="alert-page"></div>
        <label id="hash_id_label">Hash Id: </label>
      </div>
      <h5 style="width:100%;"><a id="tx_link" href="#" target="_blank"><img style="height:30px;" src="media/navigator.svg"> Show on Navigator</a></h5>
      <table id="tx_table" class="uk-table uk-table-divider">
      	<thead>
          <tr>
            <th><span id="data1">Data 1</span></th>
            <th><span id="data2">Data 2</span></th>
          </tr>
      	</thead>
      	<tbody id="tx_table_content">
          <!-- Render here tx data -->
        </tbody>
    </table>
      <div id="readable_status" >
        <!-- Status of the Transaction-->
      </div>
      <table id="table_files" class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th><span id="table_files_title">File List</span></th>
            <th><span id="table_files_title">Options</span></th>
          </tr>
        </thead>
        <tbody id="tx_table_files">
          <!-- Render here tx data -->
        </tbody>
    </table>
    <a id="link" href="#" download hidden></a>
    </div>
  </div>

  <!-- This is the pincode modal -->
  <div id="pincode_modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Please enter your pin code</h2>
          <div class="uk-margin">
            <input class="uk-input" type="password" maxlength="4" pattern="[0-9]*" id="pin_code1" >
          </div>
          <div class="uk-margin">
            <button class="uk-modal-close uk-button uk-button-default" type="button"
            style="background-color: #000; color:#fff;" >Ok</button>
          </div>
      </div>
  </div>
  <!-- This is the pincode for files modal -->
  <div id="pincode_file_modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Please enter your pin code</h2>
          <div class="uk-margin">
            <input class="uk-input" type="password" maxlength="4" pattern="[0-9]*" id="pin_code2" >
          </div>
          <div class="uk-margin">
            <button class="uk-modal-close uk-button uk-button-default" type="button"
            style="background-color: #000; color:#fff;" >Ok</button>
          </div>
      </div>
  </div>

  <div class="uk-child-width-1 uk-card uk-card-default uk-card-body">
    <div id="regions_div" style="width: 100%;"></div>
    <div class="uk-card uk-card-default uk-card-body">
      <div id="piechart" style="width: 100%;"></div>
    </div>
  </div>
</div>

  <script src="js/localforage.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  <script src="js/jsencrypt.js"></script>
  <script src="js/jsrsasign-all-min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/wallet.js"></script>
  <script src="js/jsQR.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.18.min.js"></script>
  <script src="js/config_aws.js"></script>
  <script>
  // Global variables
  var files_list = {};
  var url_files_list = [];
  var genomic_status = false;
  AWS.config.region = AWS_Region;
  var AWS_AccessKeyId = decrypt_file_symm(conf_AWS_AccessKeyId, Unlock_k);
  var AWS_SecretAccessKey = decrypt_file_symm(conf_AWS_SecretAccessKey, Unlock_k);
  var AWS_BucketName = decrypt_file_symm(conf_AWS_BucketName, Unlock_k);

  AWS.config.update({accessKeyId: AWS_AccessKeyId, secretAccessKey: AWS_SecretAccessKey}); //login to aws with credentials
  var bucket = new AWS.S3({params: {Bucket: AWS_BucketName}, apiVersion: '2006-03-01'});
  // Upload
  var startTime = new Date();
  var partSize = 1024 * 1024 * 5;// Minimum 5MB per chunk (except the last part) http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html
  var maxUploadTries = 3;
  var multipartMap = {
      Parts: []
  };
  var numPartsLeft = 0;
  var multipartResponse = null;

  var data_country = null;
  var global_pin_code = "";
  var global_file_name = "";

  var TX_FILE_LIST = [];
  var list_decrypt = [];
  var encryption_secret_key = ""; // the new key to decrypt the files
  var actual_secret_key = ""; //the encrypted key to decrypt the files
  var alert_success = '<div  class="uk-alert-success" uk-alert>\
      <a class="uk-alert-close" uk-close></a>';
  var alert_error = '<div  class="uk-alert-danger" uk-alert>\
      <a class="uk-alert-close" uk-close></a>';
  var alert_end ='</p></div>';

  var file_working_template ='<%= data.filename %>.txt <div style="color:#fff;margin-left:10px;margin-right:10px;" uk-spinner="ratio: 0.5"></div>';
   var file_template ='<p id="<%= data.filename %>" style="color:#fff;"><%= data.filename %>.txt <span uk-icon="icon: upload"\ style="color:#fff;margin-left:10px;margin-right:10px;"></span><button onclick="remove_file(<%= data.filename %>)" uk-icon="icon:close"\ style="color:#fff;margin-right:10px;"></button></p>';
    var file_uploaded_template ='<%= data.filename %>.txt <span uk-icon="icon: check"\ style="color:#fff;margin-left:10px;margin-right:10px;"></span>';

  google.charts.load('current', {
    'packages':['geochart'],
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
  google.charts.load('current', {'packages':['corechart']});

  var tx_data_template = '<tr> \
      <td><%= data.country_name %></td> \
      <td><%= data.percentage %></td> \
      </tr>'

  var tx_files_template = '<tr> \
      <td><%= name %>\
      <a id="a<%= name %>" href="<%= file %>" download hidden></a>\
      </td>\
      <td>\
      <a class="uk-icon-button" title="Dowload file: <%= name %>" \
      uk-icon="ratio: 1.2; icon: cloud-download" \
      onclick="download_url(\'<%= name %>\')"></a>\
      <a class="uk-icon-button" title="Dowload and Decrypt file: <%= name %>"\
          uk-icon="ratio: 1.2; icon: unlock" onclick="pincode_for_file(\'<%= name %>\')"></a>\
        </td> \
      </tr>'

  $(document).ready(function() {
    var searchParams = new URLSearchParams(window.location.search);

    if(searchParams.has("hash_id")){
            var txid = searchParams.get('hash_id');
            $('#hash_id_label').append('<pre>'+txid+'</pre>');
            $('#tx_link').attr("href", window.baseurl+'?hash_id='+txid);
    }

  });

  // Functions
  function validate_key(key_id){
    // Verify if the field pubkey is empty
    if ($(key_id).val().length===0){
      return false
    }else{
      return true
    }
  }

  function sign(msg, priv_key, hash_alg){
    //Create a signature of payload
    var rsa = new RSAKey();
    rsa.readPrivateKeyFromPEMString(priv_key);
    var sign_msg = rsa.sign(msg, hash_alg);
    return sign_msg;
  }

  function validate_pin(pin){
    if (!/^([0-9])*$/.test(pin)){
      return false
    }else{
      return true
    }
  }

  function hash_string(value){
  //This method calculate hash for the  value from pin
  var pin = CryptoJS.SHA256(value);
  var pin_hash = pin.toString(CryptoJS.enc.b64);  
  return pin_hash
  }
  function finish_uploads(){
      if(url_files_list.length == $('p', '#uploaded_list').length){
        $('#alert').html( alert_success+'<p id="alert">Finish uploading all files'+ alert_end);
        TX_FILE_LIST = url_files_list;
        transfer_data();
      }

  }

  function decrypt_data(){
       // Decrypt data and create list
      var data_decrypt = [];
      var files_decrypt = [];
      var isValidData = false;
      var alert_not_found = '<div  class="uk-alert-danger" uk-alert>\
      <a class="uk-alert-close" uk-close></a>\
      <p id="alert-page">Error. No Private key found.</p>\
      </div>'

      if(!validate_key("#priv_key")){
        console.log("No Priv Key found");
        $('#alert-page').html(alert_not_found);
        document.getElementById("transferaction").disabled = true;
        return null;

      }
      else{
        

        // Make list for graph
        var index = 1;
        list_decrypt = [['Country', 'Popularity'],];
        var tx_table = $('#tx_table_content tr').children();
        var tx_table_files = $('#tx_table_files tr').children();

        var decrypt = new JSEncrypt();
        
        var privkey_encrypt =  $("#priv_key").val(); 
        var pin_flag = true;
        var privkey = null;


        
        if (global_pin_code.length==4){
          if (validate_pin(global_pin_code)){
            var privkey_decrypt = CryptoJS.AES.decrypt(privkey_encrypt, hash_string(global_pin_code));
            try{
              privkey = privkey_decrypt.toString(CryptoJS.enc.Utf8);
              pin_flag = false
            }catch(err){
              alert("PIN CODE invalid");

              console.log(err);
              //return null;  
            }                            
          }
        }else{
          document.getElementById("transferaction").disabled = true;
          alert("PIN CODE invalid");
          return null;
        }

        if(privkey == null){
          document.getElementById("transferaction").disabled = true;
          alert("Private key invalid");
          return null;
        }

        decrypt.setPrivateKey(privkey);

        global_pin_code = "";

        $.each(tx_table, function(){
          var value_input = $(this).html();
          // Decrypt data      
          if(value_input != null){    
            if(value_input == ""){
              $(this).html("");
            }
            else{
              var decrypted_input = decrypt.decrypt(value_input);

              if(decrypted_input == "" || decrypted_input == null){
                 $(this).html(null);

              }
              else{
                $(this).html(decrypted_input);
              }
            }
              
              // Create list with decrypt data
              data_decrypt.push($(this).html());
          }
          
        });
        
        //we push the genomic data into list_decrypt for further uses (transference)
        for (index; index<data_decrypt.length; index++){
          if (index%2){
            var percent_decrypt = 0;
            var key_data = "";
            try{
                if(data_decrypt[index] == null){
                  isValidData = false;
                  break;
                }
                if(data_decrypt[index] == ""){
                  percent_decrypt = 0;
                  key_data = "No Data";
                }
                else{
                  percent_decrypt = parseFloat(data_decrypt[index]);
                  key_data = data_decrypt[index-1];
                }
                
                list_decrypt.push([key_data,percent_decrypt]);
                isValidData = true;
            }
            catch(err){
              isValidData = false;
              break;
            }
            
          }
        }
          
        if (!isValidData){
           $('#alert-page').html( alert_error+'<p id="alert-page">Unable to decrypt the data'+ alert_end);
           document.getElementById("transferaction").disabled = true;
          return null;
        }
        
        // Here we enable the transfer button and disable de decrypt button
         $("#decrypt").attr("disabled", "true");
        document.getElementById("transferaction").disabled = false;
        return list_decrypt; 
      }
    }

    function draw_map(){
      // Create a map graph
      if(data_country != null && data_country.length > 0){
        var data = google.visualization.arrayToDataTable(data_country);
        var options = {};
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
      }
    }

    function draw_chart() {
      // Create a pie graph
      if(data_country != null && data_country.length > 0){
        var data = google.visualization.arrayToDataTable(data_country);
        var options = {
          title: 'Ancestry Chart'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    }


    //Upload file to s3 functions>>>>>>>>
function completeMultipartUpload(doneParams, fileKey) {
  //complete the upload of a file when we get to the end
  bucket.completeMultipartUpload(doneParams, function(err, data) {
    if (err) {
      console.log("An error occurred while completing the multipart upload");
      console.log(err);
      $('#alert').html(alert_error+'<p id="alert">Filed on Upload '+alert_end);
    } else {
      var delta = (new Date() - startTime) / 1000;
      console.log('Completed upload in', delta, 'seconds');
      console.log('Final upload');
      try{
          var _filetemplate = _.template(file_uploaded_template);
          var _filecompiled = _filetemplate({"data":{"filename":fileKey}});
          document.getElementById(fileKey).innerHTML = _filecompiled;
          url_files_list.push(decodeURIComponent(data.Location));
          finish_uploads();

        }
        catch(err){
          console.log(err);
        }
    }
  });
}
function uploadPart(multipart, partParams, fileKey, tryNum) {
  //upload a part from a file sliced by 5mb
    var fileName = AWS_Folder +fileKey+'.txt';
    var tryNum = tryNum || 1;
    bucket.uploadPart(partParams, function(multiErr, mData) {
      if (multiErr){
        console.log('multiErr, upload part error:', multiErr);
        if (tryNum < maxUploadTries) {
          console.log('Retrying upload of part: #', partParams.PartNumber);
          uploadPart(multipart, partParams, tryNum + 1);
        } else {
          console.log('Failed uploading part: #', partParams.PartNumber);
        }
        return;
      }
      console.log(this.request.params.PartNumber);
      multipartMap.Parts[this.request.params.PartNumber - 1] = {
        ETag: mData.ETag,
        PartNumber: Number(this.request.params.PartNumber)
      };
      console.log("Completed part", this.request.params.PartNumber);
      if (--numPartsLeft > 0) return; // complete only when all parts uploaded
      var doneParams = {
        Bucket: AWS_BucketName,
        Key: fileName,
        MultipartUpload: multipartMap,
        UploadId: multipart.UploadId
      };
      completeMultipartUpload(doneParams, fileKey);
    });
  }
  
  function uploadMultipart(fileKey, fileData) {
    //upload a file by parts because of the size
    var fileName = AWS_Folder +fileKey+'.txt';
    var fileLength = fileData.length;
    var partNum = 0;
    multipartMap = {
      Parts: []
    };
    numPartsLeft = Math.ceil(fileLength / partSize);
    bucket.createMultipartUpload({ Bucket: AWS_BucketName, Key: fileName,ContentType: fileData.type, ACL:AWS_ACL }, function(mpErr, multipart) {  
      if(!mpErr){
          
          try{
            for (var rangeStart = 0; rangeStart < fileLength; rangeStart += partSize) {
              
                partNum++;
                var end = Math.min(rangeStart + partSize, fileLength);
                var partParams = { //create the part
                  Body: fileData.slice(rangeStart, end),
                  Bucket: AWS_BucketName,
                  Key: fileName,
                  PartNumber: String(partNum),
                  UploadId: multipart.UploadId
                };
                // Send a single part
                console.log('Uploading part: #', partParams.PartNumber, ', Range start:', rangeStart);
                uploadPart(multipart, partParams, fileKey);
            }
          }
          catch(err){
            console.log(err);
            $('#alert').html(alert_error+'Error on Upload!'+alert_end);
            return false;
          }
     
      }else{
        console.log(mpErr);
        $('#alert').html(alert_error+'Error on Upload!'+alert_end);
        return false;
      }
    });
  }
  function uploadNormal(myfile, fileName){
     // See the Configuring section to configure credentials in the SDK
    var today = new Date();
    var fileNameNew = AWS_Folder +fileName+'.txt';
    var timestamp = today.toISOString();
    var parameters = {Key: fileNameNew, 
        Body: myfile,
        ContentType: myfile.type,
        ACL: AWS_ACL};
    bucket.upload(parameters, function (err, data) {
      if (err){
        console.log("error uploading files whitout parts");
        console.log(err);
        $('#alert').html(alert_error+'<p id="alert">Error on Upload!'+alert_end);
        return false;
      }
      if(data){
        try{
          var _filetemplate = _.template(file_uploaded_template);
          var _filecompiled = _filetemplate({"data":{"filename":fileName}});
          document.getElementById(fileName).innerHTML = _filecompiled;
          url_files_list.push(data.Location);
          finish_uploads();

        }
        catch(err){
          console.log("error finishing normal uploads");
          console.log(err);
          $('#alert').html(alert_error+'<p id="alert">Error on Upload!'+alert_end);
          return false;
        }
      }
     
    });
  }

  function validate_transfer(){
    var transfer_button = '<button id="transferdata" onclick="start_transfering_files()" class="uk-button uk-button-default" style="font-weight: 700;background-color: #3C3C3C; color:#fff;"> Transfer </button>';
    var transfer_button_disabled = '<button id="transferdata" onclick="start_transfering_files()" class="uk-button uk-button-default" style="font-weight: 700;background-color: #fff; color:#3C3C3C;" disabled> Transfer </button>';

    var alert_key = '<div  class="uk-alert-danger" uk-alert>\
      <a class="uk-alert-close" uk-close></a>\
      <p id="alert">Error. You have entered invalid key; Please try again.</p>\
      </div>';

      if (validate_key("#newpubkey")){
        $('#transfer_button').html(transfer_button);

      }else{
        $('#transfer_button').html(transfer_button_disabled);
        $('#alert').html(alert_key);
      }
  }
  function toWordArray(str){
    //convert string to word array
        return CryptoJS.enc.Utf8.parse(str);
  }
  function toString(words){
    //convert word array to string
        return CryptoJS.enc.Utf8.stringify(words);
  }
  function toBase64String(words){
    //convert word array to string base 64
        return CryptoJS.enc.Base64.stringify(words);
  }
   function decrypt_file_symm(cipherfile, symm_key){
      // convert payload encoded in base64 to words
    var iv = CryptoJS.lib.WordArray.random(16);
    var decrypted = CryptoJS.AES.decrypt(cipherfile, symm_key, {iv: iv});
    return toString(decrypted);
  }
  function ecrypt_file_symm(myfile, symm_key){
      //encrypt file with a symmetric key
     var iv = CryptoJS.lib.WordArray.random(16);
    var encryptedfile = CryptoJS.AES.encrypt(myfile, symm_key, {iv: iv});
      // encode in base64
    return encryptedfile.toString();
  }
  function generateECDSA() {
    var curve = 'secp256r1';
    var ec = new KJUR.crypto.ECDSA({"curve": curve});
    var keypair = ec.generateKeyPairHex();
    // this generates a key pair named keypair.ecpubhex and keypair.ecprvhex

    return keypair;
  }
  function encrypt_string(mystring, mypub_key){
    // Encrypt data
    var encrypt = new JSEncrypt();
    encrypt.setPublicKey(mypub_key);

    return encrypt.encrypt(mystring);
  }
  function decrypt_string(mystring, private_key){
    // Encrypt data
    var decrypt = new JSEncrypt();
    decrypt.setPrivateKey(private_key);

    return decrypt.decrypt(mystring);
  }
  function get_pub_key_from_addr(pb_address){
      var geting = $.get(window.baseurl + "api/v1/address/"+pb_address);

      geting.done(function(data, text_status){
        // when its done
        if(data == null || data == ""){
          console.log("incorrect QR code");
          $('#alert').html(alert_error+'<p id="alert">Error, Incorrect QR! '+alert_end);

        }
        else{
          $("#newpubkey").val(data.pub_key);
          validate_transfer();
        }
        
      });
      geting.fail(function(xhr, textStatus, errorThrown){
        console.log(xhr.responseText);
        $('#alert').html(alert_error+'<p id="alert">Error, Incorrect QR! '+alert_end);
      });
      geting.always(function(){
        // Finish POST!
      });

    }

  function encrypt_and_upload_file(file_name, file_value, mypriv_key, newpub_key){
    var encrypted_file = null;

    try{
        var _filetemplate = _.template(file_working_template);
        var _filecompiled = _filetemplate({"data":{"filename":file_name}});
        document.getElementById(file_name).innerHTML = _filecompiled;

        var keypair = generateECDSA();
        var new_key = "";
        if(newpub_key.length < 512){
          console.log("this is a short public key");
          new_key = keypair.ecprvhex.slice(0, 50);
        }
        else{
          new_key = keypair.ecprvhex;
        }
        encryption_secret_key = encrypt_string(new_key, newpub_key);
        encrypted_file = ecrypt_file_symm(file_value, new_key); 

        if(encrypted_file != null && encrypted_file.length > 0 ){
 
        
          if(encrypted_file.length > partSize){
            uploadMultipart(file_name, encrypted_file);

          }
          else{
            uploadNormal(encrypted_file, file_name);
          }
        }
        else{
          $('#alert').html(alert_error+'<p id="alert">Error re-encrypting the file'+alert_end);
          console.log("couldnt encrypt the file")
        }
      
    }
    catch(err){
      $('#alert').html(alert_error+'<p id="alert">Error on Upload!'+alert_end);
      console.log("failed encrypting and uploading files");
      console.log(err);
      
    }
    
  }

  function transfer_data(){
    //transfer data to the new owner
     var alert_not_found = '<div  class="uk-alert-danger" uk-alert>\
        <a class="uk-alert-close" uk-close></a>\
        <p id="alert">Error. No Public or Private key found.</p>\
        </div>';

      var alert_fail = '<div  class="uk-alert-danger" uk-alert>\
        <a class="uk-alert-close" uk-close></a>\
        <p id="alert">Error. Transference failed.</p>\
        </div>';

      var index = 1;
      var data_payload = [];
      var payload = new Object();
      var form_pin = ($('#pin').val()).toString();
      var form_memo = $('#memo').val();

      if (validate_key("#newpubkey") && validate_key("#priv_key")){
        for (index; index<list_decrypt.length; index++){
          var index2 = 0
            var templist = list_decrypt[index]
            data_payload.push({"country_name":templist[0],"percentage":templist[1]});
        }
        
        var prk = $('#priv_key').val();
        var privkey = null;
        var pin_flag = true;

        while (pin_flag){
          if(form_pin.length == 4){
            var privkey_decrypt = CryptoJS.AES.decrypt(prk, hash_string(form_pin));
            try{
              privkey = privkey_decrypt.toString(CryptoJS.enc.Utf8);
              pin_flag = false;
            }catch(err){
              alert("PIN CODE invalid, try again.");
              console.log(err);
              return; 
            } 
          }else{
            alert("PIN CODE invalid. Please enter a PIN with four digits, try again.");
            return;
          }
        }   

        // Encrypt data
        var encrypt = new JSEncrypt();
        var index_encrypt = 0;
        var new_pub_key = $("#newpubkey").val();

        var searchParams = new URLSearchParams(window.location.search);

        if(searchParams.has("hash_id")){
          var txid = searchParams.get('hash_id');
          payload.previous_hash = txid;
        }
        if(form_memo.length > 0){
          payload.memo = encrypt.encrypt(form_memo);
        }

        encrypt.setPublicKey(new_pub_key);
        for (index_encrypt; index_encrypt<data_payload.length; index_encrypt++){
          data_payload[index_encrypt].country_name = encrypt.encrypt(data_payload[index_encrypt].country_name);
          data_payload[index_encrypt].percentage = encrypt.encrypt(data_payload[index_encrypt].percentage.toString());
        }


        // Make payload
        var today = new Date();
        var times = today.toISOString();

        payload.timestamp = times;
        payload.public_key = encrypt.getPublicKeyB64();
        payload.data = JSON.stringify(data_payload);
        payload.location = "Mexico";

        if($('p', '#uploaded_list').length < 1){
          console.log("no files to transfer");
         payload.files = JSON.stringify([]);
        }
        else{
          if(TX_FILE_LIST.length > 0){ //we add the secret encrypted key to the payload
            TX_FILE_LIST.unshift(encryption_secret_key);
          }

          payload.files = JSON.stringify(TX_FILE_LIST);
        }

        console.log(payload);

        var msg = payload.data;
        var hash_alg = 'sha1';

        payload.signature = sign(msg, privkey, hash_alg);

        // Make POST
        var posting = $.post(window.baseurl + "api/v1/rx-endpoint/", payload);

        posting.done(function(data, text_status){
          console.log("Transfer success!");
          window.open("./genometrics.html", "_self");
        });

        posting.fail(function(xhr, textStatus, errorThrown){
          console.log("Transfer has been failed");
          $('#alert').html(alert_fail);
        });
        posting.always(function(){
          // Finish POST!
          console.log("Finish Transfer!");
        });

      }
      else{
         console.log("No Public Key found");
          $('#alert').html(alert_not_found);
          $('#newpubkey').val('');
          document.getElementById("transferdata").disabled = true;
      }

  }

  function get_and_remove_s3_object(key_file_list, privkey, mypub_key){
      /* The following example deletes an object from a non-versioned bucket. */
      var decrypted_file = null;
      var new_pub_key = $("#newpubkey").val();
      var new_key_file_list = {};
      
      /* the initialization of uploaded_list is made here so we can have right away the complete list of files to upload not depending on the asynchronous operations*/
      $('#alert').html( alert_success+'<p id="alert">Successfully started the transference'
        + '<div style="color:#000;margin-left:1px;" uk-spinner="ratio: 2"></div>'
        + alert_end);

      $.each(key_file_list, function(i, key_file){
        if(i!= 0){
          var filename = Date.now();
          var _filetemplate = _.template(file_template);
          var _filecompiled = _filetemplate({"data":{"filename":filename}});
          $('#uploaded_list').append(_filecompiled);
          new_key_file_list[filename]= key_file;    
        }

      }); 

      $.each(new_key_file_list, function(filename, key_file){

        var name = key_file.split("/");
        name = name.pop() || name.pop(); // handle potential trailing slash
        name = AWS_Folder+decodeURIComponent(name);

        var params = {
          Bucket: AWS_BucketName,
          Key: name       
        };
        /* The following example retrieves an object for an S3 bucket. */
        bucket.getObject(params, function(err, data) {
          if (err){
            console.log(err, err.stack); // an error occurred
            $('#pin').val('');
            $('#alert').html( alert_error+'<p id="alert">There was an error downloading the original genomic file, please try again'+ alert_end);
            return null;
          }
          else{
            try{
              var cipherfile = data.Body.toString('utf-8');
              if(cipherfile != null && cipherfile.length > 0){
                decrypted_file = decrypt_file_symm(cipherfile, decrypt_string(actual_secret_key, privkey));
                  
                  if(decrypted_file == null){
                    console.log("there was an error decrypting the file");
                    $('#alert').html( alert_error+'<p id="alert">There was an error decrypting and encrypting the files for the transference, please try again'+ alert_end);
                    return null;
                  }

                  files_list[filename] = decrypted_file;
                
                var finish_upload = encrypt_and_upload_file(filename, decrypted_file, privkey, new_pub_key);

                if(finish_upload == false){
                  console.log("there was an error un encrypt and upload");
                  $('#alert').html( alert_error+'<p id="alert">There was an error uploading the files for the transference, please try again'+ alert_end);
                    return null;
                }
              }
              else{
                $('#alert').html( alert_error+'<p id="alert">There was an error Cipher file is null'+ alert_end);
                console.log("theres no body for the file");
                return null;
              }
            }
            catch(err){
              console.log("error getting the object");
              console.log(err);
               $('#alert').html( alert_error+'<p id="alert">There was an error getting the file decrypted, please try again'+ alert_end);
              return null;
            }

            bucket.deleteObject(params, function(err, data) {
              if (err){
                console.log("error deleting file");
                console.log(err, err.stack); // an error occurred
                return null;
              }
            });


          }   

         });

      });

      return "done";
     
    }
    function start_transfering_files(){
      var prk = $('#priv_key').val();
        var privkey = null;
        var pin_flag = true;
        var form_pin = ($('#pin').val()).toString();

        while (pin_flag){
          if(form_pin.length == 4){
            var privkey_decrypt = CryptoJS.AES.decrypt(prk, hash_string(form_pin));
            try{
              privkey = privkey_decrypt.toString(CryptoJS.enc.Utf8);
              pin_flag = false;
            }catch(err){
              alert("PIN CODE invalid, try again.");
              console.log(err);
              return; 
            } 
          }else{
            alert("PIN CODE invalid. Please enter a PIN with four digits, try again.");
            return;
          }
        }
      var old_pub_key = $('#pub_key').val();
      var new_files_list = {};

      if( TX_FILE_LIST.length < 1){
        //if there are no files then upload the percentages
        console.log("no files to transfer");
        transfer_data();
      }
      else{
        //if there are files then upload it first
        var result = get_and_remove_s3_object(TX_FILE_LIST, privkey, old_pub_key);
        if(result == null){
          $('#alert').html( alert_error+'<p id="alert">There was an error decrypting and encrypting the files for the transference, please try again'+ alert_end);
          return;
        }
      }     
      
    }

  function download_file(text, name, type) {
    var file = new Blob([text], {type: type});
    var download_link = document.getElementById("link");
    local_file_url = URL.createObjectURL(file);
    download_link.href = local_file_url;
    download_link.download = name;
    download_link.click();
  }
  function download_url(name) {
    if(genomic_status == true){
      var download_a = document.getElementById("a"+name);
      download_a.click(); 
    }
    else{
       $('#alert-page').html( alert_error+'<p id="alert-page">The files have been transfered already'+ alert_end);
    }
  }

  function download_decrypt_file(filename){
    var prk = $('#priv_key').val();
    var privkey = null;
    var decrypted_file = "";
    var pin_flag = true;

    if(global_file_name != ""){
      if (global_pin_code.length==4){
        if (validate_pin(global_pin_code)){
          var privkey_decrypt = CryptoJS.AES.decrypt(prk, hash_string(global_pin_code));
          try{
            privkey = privkey_decrypt.toString(CryptoJS.enc.Utf8);
            pin_flag = false
          }catch(err){
            alert("PIN CODE invalid");
            console.log(err);
            return null;  
          }                            
        }
      }else{
        alert("PIN CODE invalid");
        return null;
      }

      global_file_name = "";
      global_pin_code = "";
      
      var params = {
        Bucket: AWS_BucketName,
        Key: AWS_Folder +filename       
      };
      /* The following example retrieves an object for an S3 bucket. */
      bucket.getObject(params, function(err, data) {
        if (err){
          $('#alert-page').html( alert_error+'<p id="alert-page">The files have been transfered already'+ alert_end);
          console.log("error downloading the file from s3");
          console.log(err, err.stack); // an error occurred
          return null;
        }
        else{
          try{
            var cipherfile = data.Body.toString('utf-8');
            var decrypted_secret_key = decrypt_string(actual_secret_key, privkey);
            decrypted_file = decrypt_file_symm(cipherfile, decrypted_secret_key); 
            download_file(decrypted_file, filename, "text/plain");

          }
          catch(err){
            $('#alert-page').html( alert_error+'<p id="alert-page">There was an error decrypting the file'+ alert_end);
            console.log("error decrypting the file");
            console.log(err);
            return null;
          }
        }
      });
    }//readable true
    else{
      $('#alert-page').html( alert_error+'<p id="alert-page">The files have been transfered already'+ alert_end);
    }

  }
  function pincode_for_file(filename){
    global_file_name = filename;
     UIkit.modal($('#pincode_file_modal')).show();

  }

  function read_pubkey_file(e) {
    // Variable
    var file = e.target.files[0];

    //Small Validation
    if (!file) {
      return;
    }

    //Read file
    var read = new FileReader();
    read.onload = function(e) {
      var content = e.target.result;
      $("#newpubkey").val(content);
      validate_transfer();
    };
    read.readAsText(file);

  }
  function add_tx_markup(data){
    // A tx data provided compile and render item
    $('#non-item').remove();
    var _template = _.template(tx_data_template);
    var _compiled = _template({"data":data});
    $('#tx_table_content').append(_compiled);
  }
  function add_tx_files(item_file, name){
    // add a file on markup
    var _template = _.template(tx_files_template);
    var _compiled = _template({"file":item_file, "name": name});
    $('#tx_table_files').append(_compiled);
  }

  $(document).ready(function() {
    (function ($, localforage){
      // Set the keys on textarea onload page
      var encrypt = new JSEncrypt();
      function setKeys(){
        localforage.getItem('privatekey', function(err, value){
          $('#priv_key').val(value);
        });
        localforage.getItem('publickey', function(err, value){
          $('#pub_key').val(value);
        });

      };

  function getTxData(){
        // Render Tx Data on form
        var searchParams = new URLSearchParams(window.location.search);
        var url = window.baseurl + "api/v1/rx-endpoint/"
        if(searchParams.has("hash_id")){
          url += searchParams.get('hash_id');
          $.get(url, function(data) {
          // Get data from server
          if (data.length == 0){
            // Render no tx label
            $("#tx_table_content").html("<span id='non-item'>Without data :( Something missing!</span>");
          }else{
            data.data.forEach(function(item) {
              // Add tx to template
              add_tx_markup(item);
            });
            if (data.files != null || data.files != {}){
               TX_FILE_LIST= data.files;

               data.files.forEach(function(item_file, i){
                var name = "";
                if(i == 0){
                  actual_secret_key = item_file; // we save the encrypted key to decrypt this files
                }
                else{
                  // Render the item file
                  name = item_file.split("/");
                  name = name.pop() || name.pop(); // handle potential trailing slash
                  name = decodeURIComponent(name);
                  add_tx_files(item_file, name);
                }
                
                });
            }
           

            var color= "#fff";
            if(data.readable == true){
              color= "#d9f7ec";
            }
            else{
              color= "#f5c5d2";
            }

            $("#readable_status").html('<div id="readable_status"><p style="background-color:'+color+';color:#000">Readable: '+data.readable+'</p></div>');
            genomic_status = data.readable;
          }
          console.log("Finish get!");
        });
        }
      };
      setKeys();
      getTxData();
      google.charts.setOnLoadCallback(map_test);
      google.charts.setOnLoadCallback(chart_test);

    })($, localforage);

    // Functions

  

    
    function map_test(){
      // Create a map graph
      var data = google.visualization.arrayToDataTable([
        ['Country', 'Popularity'],
        ['Unknown', 0],
      ]);
      var options = {};
      var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

      chart.draw(data, options);
    }

    function chart_test(){
      // Create a pie graph
      var data = google.visualization.arrayToDataTable([
        ['Region', 'Percentage'],
        ['Unknown',     100],
      ]);
      var options = {
        title: 'Ancestry Chart'
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
    
    // Events
    $('#decrypt').on('click', function(){
      UIkit.modal($('#pincode_modal')).show();
      
      
    });

    document.getElementById('pubkey_file')
    .addEventListener('change', read_pubkey_file, false);

    $('#transferdata').on('click', function(){
       if($('p', '#uploaded_list').length < 1){
        //if there are no files then upload the percentages
        transfer_data();
      }
      else{
        //if there are files then upload it first
        start_transfering_files();
      }
      
      
      
    });

    // Make Map, pie chart and data responsive.
    $(window).resize(function(){
      map_test();
      chart_test();
      draw_map();
      draw_chart();
    });
  });
    
    //Qr reader code
    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");
    


    $('#modal-transact').on('hide.uk.modal', function(){
      $(this).find("input,textarea").val('').end();
      //This method are from MediaStreamTrack.stop documentation
      function stop_stream(videoElem) {
        let stream = videoElem.srcObject;
        let tracks = stream.getTracks();

        tracks.forEach(function(track) {
          track.stop();
        });
        videoElem.srcObject = null;
      }

      stop_stream(video);
      url_files_list = [];
      $('#pin').val('');

      document.getElementById('transfer_button').disabled = true;
      $('#alert').html('<p id="alert"></p></div>');
      $('#uploaded_list').html('<div id="uploaded_list"></div>');
    });

    $('#pincode_modal').on('hide.uk.modal', function(){
        // custome js code
        global_pin_code = $('#pin_code1').val();
        //var pin_code = prompt("Please, enter your PIN CODE");
        data_country = decrypt_data();
        if(data_country!=null){
          google.charts.setOnLoadCallback(draw_map);
          google.charts.setOnLoadCallback(draw_chart);
        }
        
        
    });

    $('#pincode_file_modal').on('hide.uk.modal', function(){
        // custome js code
        global_pin_code = $('#pin_code2').val();
        //var pin_code = prompt("Please, enter your PIN CODE");
        download_decrypt_file(global_file_name);
        
        
    });

    $('#modal-transact').on('show.uk.modal', function(){
        
      function drawLine(begin, end, color) {
        canvas.beginPath();
        canvas.moveTo(begin.x, begin.y);
        canvas.lineTo(end.x, end.y);
        canvas.lineWidth = 4;
        canvas.strokeStyle = color;
        canvas.stroke();
      }
      // Use facingMode: environment to attemt to get the front camera on phones
      navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
        video.srcObject = stream;
        video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
        video.play();
        requestAnimationFrame(tick);
      });
      function tick() {
        loadingMessage.innerText = "Loading video..."
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
          loadingMessage.hidden = true;
          canvasElement.hidden = false;
          outputContainer.hidden = false;
          canvasElement.height = video.videoHeight;
          canvasElement.width = video.videoWidth;
          canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
          var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
          var code = jsQR(imageData.data, imageData.width, imageData.height, {
            inversionAttempts: "dontInvert",
          });
          if (code) {
            drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
            drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
            drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
            drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
            outputMessage.hidden = true;
            outputData.parentElement.hidden = false;

            get_pub_key_from_addr(code.data);
            

          } else {
            outputMessage.hidden = false;
            outputData.parentElement.hidden = true;
          }
        }
        requestAnimationFrame(tick);
      }
    });


  </script>
</body>
</html>
